{% extends "main/base.html" %}

{% block navs %}
<ul id="nav" class="nav">
	<li><a href="{% url "index" %}">Home</a></li>
	<li class="has-children current"><a href="{% url "about" %}">About Us</a>
	<ul>
	   <li><a href="{% url "contact" %}">Contact Us</a></li>
	   <li><a href="#">FAQ</a></li>
	</ul>
 </li>
 <li><a href="{% url "demo" %}">Demo</a></li>	
 <li><a href="{% url "archives" %}">Archives</a></li>
	<li class="has-children"><a href="{% url "single" %}">Blog</a>
		  <ul>
	   <li><a href="{% url "blog" %}">Blog Entries</a></li>
	   <li><a href="{% url "single" %}">Single Blog</a></li>	                     
	</ul>
	</li>		      	
	<li><a href="{% url "page" %}">Page</a></li>
 </ul> <!-- end #nav -->
{% endblock navs %}

{% block content %}

<article class="entry">

	<header class="entry-header">

		<h2 class="entry-title">
			Get In Touch
		</h2> 				 
		
	</header> 
	
	<div class="entry-content">
        <p>To contact us, send your message to contact@styleshout.com or use the contact form below. 
            Also, before contacting us, try first visiting our <a href="#">Frequently Asked Questions</a> (FAQs) page. 
            You may find the information you are looking for there.</p>
    </div> 


</article> <!-- end entry -->

<form name="contactForm" id="contactForm" method="post" action="">
    <fieldset>

    <div class="group">
            <label for="cName"><i class="bi bi-person-fill-down"></i> Name <span class="required">*</span></label>
            <input name="cName" type="text" id="cName" size="35" value="" />
    </div>

    <div class="group">
            <label for="cEmail"><i class="bi bi-envelope-at-fill"></i> Email <span class="required">*</span></label>
            <input name="cEmail" type="text" id="cEmail" size="35" value="" />
    </div>

    <div class="message group">
    <label  for="cMessage"><i class="bi bi-envelope-paper-fill"></i> Message <span class="required">*</span></label>
    <textarea name="cMessage"  id="cMessage" rows="10" cols="50" ></textarea>
    </div>

    <button type="submit" class="submit"><i class="bi bi-send-arrow-down"></i> Send Message</button>

    </fieldset>
    </form> <!-- Form End -->
{% endblock content %}

